<%= provide(title: 'Home')%>
<div class='centerItem jumbotron'>
    <h1>Only For Members Of The Club</h1>
    <h2>Not yet a member?</h2>
    <%= link_to 'Register!', signup_path, class: 'btn btn-primary'%>
</div>
