<li>
    <%= link_to user.name, user %>
    <% if current_user.member? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "Sure you to delete?" } %>
    <% end %>
</li>