<%= provide(:title, @user.name)%>
<h1>Posts by <%= @user.name %></h1>
<ol class='posts'>
    <% if @user.posts.any? %>
        <% @user.posts.each do |post|%>
            <li><%= link_to post.title, posts_path %></li>
        <% end %>
    <% end %>
</ol>