<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<div class="col-md-5 col-md-offset-3">
    <%@posts.each do |post|%>
        <div class="post-container">
            <%if logged_in?%>
                <div class="author">
                    author : <%=post.user.name%>
                </div>
            <%end%>
           
            <div>
                title : <%=post.title%>
            </div>
            <div class="content-container">
                <%=post.content%>
            </div>
           
           
        </div>
    <%end%>
</div>